/*
 * https://stackoverflow.com/questions/21168521/table-fixed-header-and-scrollable-body
 * https://www.w3schools.com/bootstrap/bootstrap_tables.asp
 * https://www.w3schools.com/bootstrap/bootstrap_ref_css_tables.asp
 * https://stackoverflow.com/questions/50705636/bootstrap-4-table-responsive-horizontal-and-vertical-scroll
 */

tbody {
  display: block;
  max-height: 14em;
  overflow-y: scroll;
}

thead,
tbody tr {
  display: table;
  width: 550px;
  table-layout: fixed;
}
